{% extends "base.html.twig" %}

{% block stylesheets %}
  <link rel="stylesheet" href="/css/_navbar/chaussures.css" />
{% endblock %}

{% block body %}


    <!-- title -->
    <h1>equipement de sport | homme ou femme</h1>
    <!-- <div>Optimisez votre environnement de sport</div> -->
    <br /><br /><br />
    <p class="innerWidth"></p>
    <h2>Collection homme</h2>
    <!-- main homme -->
    <main class="collection-homme">
      <!-- <div class="flecheGauche">
        <a href="!#"><i class="fas fa-caret-left"></i></a>
      </div> -->
      <div class="w-75 mx-auto">
      {% for equipement in equipements %}
      {% if equipement.sexe is same as "homme" or equipement.sexe is same as null %}
          
        <section class="image-homme">
          <a href={{path('produit' , {'id': equipement.id})}}
            ><img
              src={{equipement.image}}
              alt="article 1"
          /></a>
          <div style="display:block;">
            <a href={{path('produit' , {'id': equipement.id})}}><h2>{{equipement.titre}}</h2></a>
            <p>{{equipement.prix | amount }}</p>
            <a href={{path('produit' , {'id': equipement.id})}} class="btn btn-success">Détails</a>
            
          </div>
        </section>
        {% endif %}
      {% endfor %}

      </div>

      <!-- <div class="flecheDroite">
        <a href="!#"><i class="fas fa-caret-right"></i></a>
      </div> -->
    </main>

    <br />
    <br />
    <br />

    <!-- main femme -->

    <h2>Collection femme</h2>

    <main class="collection-femme">
      {# <div class="flecheGauche">
        <a href="!#"><i class="fas fa-caret-left"></i></a>
      </div> #}


      <div class="w-75 mx-auto">
      {% for equipement in equipements %}
      {% if equipement.sexe is same as "femme" %}
        <section class="image-femme">
            <a href={{path('produit' , {'id': equipement.id})}}
            ><img
                src={{equipement.image}}
                alt="article 1"
            /></a>
            <div style="display:block;">
            <a href={{path('produit' , {'id': equipement.id})}}><h2>{{equipement.titre}}</h2></a>
            <p>{{equipement.prix | amount }}</p>
            <a href={{path('produit' , {'id': equipement.id})}} class="btn btn-success">Détails</a>
            
            </div>
        </section>
        {% endif %}
      {% endfor %}
      </div>


      {# <div class="flecheDroite">
        <a href="!#"><i class="fas fa-caret-right"></i></a>
      </div> #}
    </main>


{% endblock %}

{% block script %}
<script src="/js/scriptHome.js"></script>
{% endblock %}