<div class="col-2 ml-4 sideBarAdmin versionDesktop">

    <div>
        <a href="{{ path('admin_home') }}">
            <p class="mt-3">
                <i class="fas fa-store"></i> Accueil Admin
            </p>
        </a>
    </div>

     <div>
        <a href="{{ path('list_category') }}">
            <p class="mt-3">
                <i class="fas fa-copyright"></i> Liste des Catégories
            </p>
        </a>
    </div>

     <div>
        <a href="{{ path('list_product') }}">
            <p class="mt-3">
                <i class="fas fa-tag"></i> Liste des Produits
            </p>
        </a>
    </div>

    <div>
        <a href="{{ path('public_home') }}" class="btn btn-primary mt-3">
            Acuueil site internet
        </a>
    </div>

    <div>
        <a href="{{ path('app_logout') }}" class="btn btn-danger mt-3">
            Déconnexion
        </a>
    </div>

</div>

<div class="col-2 ml-4 sideBarAdmin versionPhone">

    <div>
        <a href="{{ path('admin_home') }}">
            <p class="mt-3">
                <i class="fas fa-store"></i> Accueil Admin
            </p>
        </a>
    </div>

     <div>
        <a href="{{ path('list_category') }}">
            <p class="mt-3">
                <i class="fas fa-copyright"></i> Liste des Catégorie
            </p>
        </a>
    </div>

     <div>
        <a href="{{ path('list_product') }}">
            <p class="mt-3">
                <i class="fas fa-tag"></i> Liste des Produits
            </p>
        </a>
    </div>

    <div>
        <a href="{{ path('public_home') }}" class="btn btn-primary mt-3">
            Accueil site internet
        </a>
    </div>

    <div>
        <a href="{{ path('app_logout') }}" class="btn btn-danger mt-3">
            Déconnexion
        </a>
    </div>

</div>